hr
{
    color: #000F5E;
    border-width:3px;
    width:1140px;
    margin: 0 auto;
}
.Colp
{

    padding-left :30px;
    text-align: justify;
    width: 1096px;
    font-size: 20px;
    padding-top:20px;
}

/* .Prob
{
    background-color: gray;
    padding-left: 100px;
} */